body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./backgroundImage/testing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Frutiger;
    filter: drop-shadow(0 0 0.75rem #063d7a);
    min-height: 100vh;
    margin: 0;
}

@font-face
{
    font-family: DSEG14Classic-Regular;
    src: url("./font/DSEG14Classic-Regular.ttf");
    src: url("./font/DSEG14Classic-Regular.woff");
    src: url("./font/DSEG14Classic-Regular.woff2");
}

/* Container stuff */

.bigContainer
{
    justify-self: center;
    overflow: auto;
    display: flex;
    justify-content: center;
    height: 760px;
    width: 530px;
    background-image: linear-gradient(to top, #0f5cb3, #2167bb, #2f71c2, #3c7cc9, 
    #4987d0, #4885cf, #4784cf, #4682ce, #3974c5, #2c66bc, #2159b3, #164ba9);
    border-radius: 10px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #67a5d4;
}

.numberPadContainer
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 300px;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;
    height: 600px;
}

.resultContainer
{
    display: flex;
    justify-content: center;
    outline: solid 1px red;
}

.result
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: right;
    padding: 15px;
    width: 300px;
    height: 55px;
    background-color: #417ccc;
    /*font-family: DSEG14Classic-Regular;*/
    font-family: Frutiger;
    color: #eef3fd;
    font-size: 36px;
    border-radius: 5px;
    outline: solid 1px #032d70;
    overflow: hidden;
}

.operators
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-top: 45px;
    height: 600px;
}

/* Button stuff */

button
{
    border: none;
    border-radius: 5px;
}

.numberButtons
{
    width: 70px;
    height: 70px;
    background-image: linear-gradient(to top, #d2e4f2, #bdd5e9, #a8c6e1, #94b6d8, #81a7d0, 
    #87a8d1, #8da8d2, #93a9d3, #afbbde, #c8cde9, #e0e1f4, #f6f5ff);
    outline-color: #4f74a7;
    /*font-family: DSEG14Classic-Regular;*/
    font-family: Frutiger;
    font-weight: bold;
    font-size: 30px;
    color:  #3c6bac;
}

.operatorButtons, .extraButtons, .basicOperator
{
    width: 70px;
    height: 70px;
    background-image: linear-gradient(to top, #d2e4f2, #bdd5e9, #a8c6e1, #94b6d8, #81a7d0, 
    #87a8d1, #8da8d2, #93a9d3, #afbbde, #c8cde9, #e0e1f4, #f6f5ff);
    outline-style: solid;
    outline-width: 3px;
    outline-color: #70d337;
    color: #3c6bac;
    /*font-family: DSEG14Classic-Regular;*/
    font-family: Frutiger;
    font-weight: bold;
    font-size: 30px;
}

.numberButtons:hover 
{
    background-color: rgb(29,78,216);
    box-shadow: 0 10px 20px #67a5d4, 0 6px 6px #67a5d4;
  }

.numberButtons:active 
{
    position: relative;
    top: 1px;
    right: 1px;
    box-shadow: 0 3px 6px #67a5d4, 0 3px 6px #67a5d4;
  }

.operatorButtons:hover, .extraButtons:hover, .basicOperator:hover 
{
    background-color: #70d337;
    box-shadow: 0 10px 20px rgba(194,253,155), 0 6px 6px rgba(194,253,155);
}

.operatorButtons:active, .extraButtons:active, .basicOperator:active 
{
    position: relative;
    top: 1px;
    right: 1px;
    box-shadow: 0 3px 6px rgba(194,253,155), 0 3px 6px rgba(194,253,155);
}

/* For mobile */

@media screen and (max-width: 640px)
{
    .bigContainer
    {
       height: 390px;
       width: 305px; 
    }

    .numberPadContainer
    {
        height: 300px;
    }

    .numberButtons, .operatorButtons, .extraButtons, .basicOperator
    {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
    
    .result
    {
        height: 20px;
        width: 150px;
        font-size: 20px;
        padding: 17px;
    }

    .operators
    {
        height: 320px;
    }
}

