body
{
    display: flex;
    justify-content: space-around;
    padding-top: 330px;
}

.bigContainer
{
    outline: solid 1px pink;
    overflow: auto;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 300px;
}

.numberPadContainer
{
    outline: solid 1px blue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 150px;
    gap: 10px;
    padding: 10px;
    padding-top: 20px;
    height: 300px;
}

.numberButtons
{
    outline: solid 1px yellow;
    width: 40px;
    height: 40px;
}

.result
{
    outline: solid 1px purple;
    text-align: center;
    padding-top: 10px;
    width: 150px;
}

.operators
{
    outline: solid 1px red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
    height: 300px;
}

.operatorButtons
{
    width: 40px;
    height: 40px;
}
